body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

.icon__paragraph {
  font-family: 'Roboto', sans-serif;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__image .icon__link {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 3%;
  font-size: 28px;
}

.header__image .logo__image {
  padding: 2% 20% 2% 0;
  width: 60%;
}

.menu__image {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
}

.menu__image .menu__image--width {
  width: 100%;
}

.menu__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F3F3;
  padding: 3% 0 7% 0;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  position: relative;
  z-index: 3;
  margin: 60% 0 0 0;
}

.menu__section .restaurant__header {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__section .restaurant__header .fa-heart {
  font-size: 30px;
  padding: 3% 2% 2% 0;
  color: white;
  text-shadow: 0 0 3px black;
}

.menu__section .restaurant__header .fa-heart:hover {
  color: #9256dc;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  text-shadow: 0 0 3px white;
}

.menu__section .description__heading {
  color: darkgrey;
  width: 94%;
  display: inline-block;
  position: relative;
}

.menu__section .description__heading:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -6px;
  border-bottom: 4px solid #99E2D0;
}

.menu__section .menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 3% 3%;
}

.menu__section .menu__card .menu__button {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 95%;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  padding: 0 3%;
  margin: 0 0 1% 0;
  border: none;
}

.menu__section .menu__card .menu__button:hover {
  background-color: white;
  width: 80%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
}

.menu__section .menu__card .menu__button:hover + .add__button {
  opacity: 1;
  width: 15%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #99E2D0;
  color: white;
  font-size: 200%;
  -webkit-box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
  border: none;
}

.menu__section .menu__card .menu__button:hover + .add__button .fas {
  -webkit-animation: spin 1s;
  animation: spin 1s;
}

.menu__section .menu__card .menu__button .menu__button--justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__section .menu__card .add__button {
  opacity: 0;
  margin: 0 0 1% 0;
}

.booking__button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff79d9), to(#9256dc));
  background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
  background-color: #ff79d9;
  border-radius: 28px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.booking__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9256dc), to(#ff79d9));
  background: linear-gradient(to bottom, #9256dc 5%, #ff79d9 100%);
  background-color: #9256dc;
}

.booking__button:active {
  position: relative;
  top: 1px;
}

.booking__button:focus {
  outline: none;
}

.footer__header {
  background-color: #383738;
  color: white;
  padding: 5%;
}

.footer__header a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__header .footer__image {
  width: 15%;
  -webkit-filter: invert(1);
          filter: invert(1);
  padding: 0 0 3% 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=menu.css.map */