body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

.icon__paragraph {
  font-family: 'Roboto', sans-serif;
  padding: auto auto auto 3%;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F3F3F3;
  z-index: 1;
}

.loader.loader__page--hidden {
  animation: fade-out-and-hide ease-in 2.5s;
  /* IE */
  -webkit-animation: fade-out-and-hide ease-in 2.5s;
  /* Safari and Chrome */
  -moz-animation: fade-out-and-hide ease-in 2.5s;
  /* Firefox */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  overflow: hidden;
}

.loader .loader__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader .loader__icon:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #99E2D0 transparent #99E2D0 transparent;
  animation: spinner 1.5s linear infinite;
  /* IE */
  -webkit-animation: spinner 1.5s linear infinite;
  /* Safari and Chrome */
  -moz-animation: spinner 1.5s linear infinite;
  /* Firefox */
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -60px;
}

.header__image {
  text-align: center;
  padding: 3%;
}

.header__image .header__image--scale {
  width: 40%;
}

.location__heading {
  text-align: center;
  padding: 3%;
  background-color: #e9e9e9;
  border-top: 3px solid #c9c9c9;
}

.booking__section {
  display: block;
  background-color: #F3F3F3;
  padding: 9% 3%;
  text-align: center;
}

.booking__section .booking__section--light-grey {
  color: darkgray;
}

.booking__section .booking__button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff79d9), to(#9256dc));
  background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
  background-color: #ff79d9;
  border-radius: 28px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.booking__section .booking__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9256dc), to(#ff79d9));
  background: linear-gradient(to bottom, #9256dc 5%, #ff79d9 100%);
  background-color: #9256dc;
}

.booking__section .booking__button:focus {
  outline: none;
}

.booking__section .booking__button:active {
  position: relative;
  top: 1px;
}

.guidance__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7% 3%;
}

.guidance__section .guidance__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #F3F3F3;
  width: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  border-radius: 20px;
  margin: 0 0 5% 0;
  padding: 3%;
  color: darkgray;
  position: relative;
}

.guidance__section .guidance__card:hover {
  background-color: rgba(146, 86, 220, 0.1);
  -webkit-box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
}

.guidance__section .guidance__card:hover .fas {
  color: #9256dc;
}

.guidance__section .guidance__card .number__icon {
  background-color: #9256dc;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  position: relative;
  left: -5%;
  top: -3%;
  padding: 3px 8px;
  color: white;
}

.restaurant__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F3F3;
  padding: 3%;
}

.restaurant__section .restaurant__heading {
  width: 94%;
}

.restaurant__section .restaurant__card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  border-radius: 20px;
  margin: 0 auto 5% auto;
}

.restaurant__section .restaurant__card:hover {
  -webkit-box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);
}

.restaurant__section .restaurant__card .restaurant__image {
  width: 100%;
  max-width: 450px;
  max-height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.restaurant__section .restaurant__card .restaurant__image--text {
  position: absolute;
  bottom: 5%;
  right: 15%;
  color: #5d9c8c;
  background-color: #99E2D0;
  padding: 1% 5%;
  border-radius: 2px;
  z-index: 3;
}

.restaurant__section .restaurant__card .restaurant__image--text h4 {
  margin: 0;
}

.restaurant__section .restaurant__card .restaurant__image--example {
  position: absolute;
  bottom: -35%;
  right: 15%;
  color: #5d9c8c;
  background-color: #99E2D0;
  padding: 1% 5%;
  border-radius: 2px;
  z-index: 3;
}

.restaurant__section .restaurant__card .restaurant__image--example h4 {
  margin: 0;
}

.restaurant__section .restaurant__card .restaurant__container {
  padding: 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__section .restaurant__card .restaurant__container .restaurant__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__section .restaurant__card .restaurant__container .fa-heart {
  font-size: 30px;
  padding: 8% 2% 10% 0;
  color: white;
  text-shadow: 0 0 3px black;
}

.restaurant__section .restaurant__card .restaurant__container .fa-heart:hover {
  color: #9256dc;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  text-shadow: 0 0 3px white;
}

.footer__header {
  background-color: #383738;
  color: white;
  padding: 5%;
}

.footer__header a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__header .footer__image {
  width: 15%;
  -webkit-filter: invert(1);
          filter: invert(1);
  padding: 0 0 3% 0;
}

@keyframes spinner {
  /* IE */
  /* IE */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  /* Firefox */
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
  /* Safari and Chrome */
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  /* Safari and Chrome */
  /* IE */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  /* Firefox */
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
  /* Safari and Chrome */
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fade-out-and-hide {
  /* IE */
  0% {
    opacity: 1.0;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes fade-out-and-hide {
  /* Safari and Chrome */
  0% {
    opacity: 1.0;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@media screen and (min-width: 768px) {
  .guidance__section {
    padding: 7% 15%;
  }
  .restaurant__section {
    display: block;
    padding: 2% 5%;
  }
  .restaurant__section .restaurant__card {
    margin: 0 1% 2% 0;
  }
}

@media screen and (min-width: 501px) {
  .restaurant__image--example {
    opacity: 0;
  }
  .restaurant__image--text {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */