.icon__paragraph {
    font-family: 'Roboto', sans-serif;
    padding: auto auto auto 3%;
}   

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light-grey-background;
    z-index: 1;

    &.loader__page--hidden {
        animation: fade-out-and-hide ease-in 2.5s; /* IE */
        -webkit-animation: fade-out-and-hide ease-in 2.5s; /* Safari and Chrome */
        -moz-animation: fade-out-and-hide ease-in 2.5s; /* Firefox */
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        overflow: hidden;
    } 

    .loader__icon {
        display: inline-block;
        width: 80px;
        height: 80px;

        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: $mint transparent $mint transparent;
            animation: spinner 1.5s linear infinite; /* IE */
            -webkit-animation: spinner 1.5s linear infinite; /* Safari and Chrome */
            -moz-animation: spinner 1.5s linear infinite; /* Firefox */
            position: absolute;
            top: 46%;
            left: 50%;
            margin-left: -60px;
        }
    }
}

.header__image {
    text-align: center;
    padding: 3%;

    .header__image--scale {
        width: 40%;
    }    
}

.location__heading {
    text-align: center;
    padding: 3%;
    background-color: $dark-grey-background;
    border-top: 3px solid $dark-grey-boarder; 
}

.booking__section {
    display: block;
    background-color: $light-grey-background;
    padding: 9% 3%;
    text-align: center;

    .booking__section--light-grey {
        color: darkgray;
    }
}

.guidance__section {
    display: flex;
    flex-direction: column;
    padding: 7% 3%;

    .guidance__card {
        display: flex;
        flex-direction: row;
        box-shadow: $normal-shadow;
        background-color: $light-grey-background;
        width: 90%;
        align-content: center;
        text-align: left;
        border-radius: 20px;
        margin: 0 0 5% 0;
        padding: 3%;
        color: darkgray;
        position: relative;

        &:hover {
            background-color: rgba(146, 86, 220, 0.1);
            box-shadow: $deep-shadow;

            .fas {
                color: $purple;
            }
        }
        
        .number__icon {
            background-color: $purple;
            text-align: center;
            align-self: center;
            border-radius: 50%;
            position: relative;
            left: -5%;
            top: -3%;
            padding: 3px 8px;
            color: white;
        }
    }

    @media (min-width: 768px){
        padding: 7% 15%;
        
    }
}

.restaurant__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-grey-background;
    padding: 3%;

    .restaurant__heading {
        width: 94%;
    }

    .restaurant__card {
        box-shadow: $normal-shadow;
        background-color: white;
        display: inline-block;
        align-content: center;
        text-align: left;
        border-radius: 20px;
        margin: 0 auto 5% auto;

        &:hover {
            box-shadow: $deep-shadow;
        }

        .restaurant__image {
            width: 100%;
            max-width: 450px;
            max-height: 250px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            position: relative;
        }
    
        .restaurant__image--first {
            position: absolute;
            bottom: 5%;
            right: 15%;
            color: #5d9c8c;
            background-color: $mint;
            padding: 1% 5%;
            border-radius: 2px;
            z-index: 3;

            h4 {
                margin: 0;
            }
            
            @media (min-width: 501px){
                opacity: 0;
            }
        }

        .restaurant__image--second {
            position: absolute;
            bottom: -35%;
            right: 15%;
            color: #5d9c8c;
            background-color: $mint;
            padding: 1% 5%;
            border-radius: 2px;
            z-index: 3;

            h4 {
                margin: 0;
            }

            @media (min-width: 501px){
                opacity: 0;
            }
        }

        .restaurant__container {
            padding: 0 3%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .restaurant__details {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (min-width: 768px){
             margin: 0 1% 2% 0;
        }
    }

    @media (min-width: 768px){
        display: block;
        padding: 2% 5%;
    }
}