@mixin keyframes($spinner) {
    @keyframes #{$spinner} { 
        @content;
    }
}

@include keyframes(spinner) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin keyframes($fade-out-and-hide) {
    @keyframes #{$fade-out-and-hide} { 
        @content;
    }
}

@include keyframes(fade-out-and-hide) {
    0% {
        opacity: 1.0;
    }
    99% {
        opacity: 0;
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@mixin keyframes($fade-in) {
    @keyframes #{$fade-in} { 
        @content;
    }
}

@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin keyframes($spin) {
    @keyframes #{$spin} { 
        @content;
    }
}

@include keyframes(spin) {
    from {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(0deg);
    }
}
