
$purple: #9256dc; 
$pink: #ff79d9;
$mint: #99E2D0;

$light-grey-background:#F3F3F3;
$dark-grey-background: #e9e9e9;
$dark-grey-boarder: #c9c9c9;
$space-grey: #383738;
$normal-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$deep-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.2);